<!DOCTYPE html>
<html>
<head>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/pagedown/1.0/Markdown.Converter.js"></script>
    <script src="../static/js/FileSaver.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
<meta charset="utf-8">
<title>md转文档</title>
</head>
<body>
        <input type="file" id="files" multiple="multiple" >
        <textarea id="mdContent"></textarea>
        <div id="htmlContent"></div>
</body>
</html>