.content {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: #f1f8ff; */
    /* background-color: #BFE6D7; */
    background-color: #e2e2e2;
}

.parentnode
{
    width: 25%;
    float:left;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #f1f8ff;
    font-size: 15px;
    border: 2px solid #008151;
}

.right {
    margin-left: 27%;
    padding: 1px 50px;
    background-color: #f1f8ff;
    border: 2px solid #008151;
}

.parentnode a
{
    color: #009a61;
    font-weight: bold;
}

h2 {
    margin-left: 5px;
}

h3 {
    margin-left: 10px;
}

h4 {
    margin-left: 15px;
}

h5 {
    margin-left: 20px;
}

a:link {
    text-decoration: none;
}

p {
    padding: 20px 15px;
    font-size: 14px;
    text-indent:25px;
    background: #cce8cf;
    line-height: 1.4;
}


body, html
{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Microsoft YaHei';
}

.parentnode
{
    border: 2px solid F6F8F9;
    position: relative;
    text-align: left;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 3px rgba(0,0,0,0.09);
    display: inline-block;
    vertical-align: top;
}

.parentnode_noe
{
    padding-left: 20px;
}

.parentnode_title
{
    width: 100%;
    padding: 2px;
}

.parentnode_title_fix
{
    height: 24px;
    width: 18px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
}
 

.parentnode_title_symbol

{

    background-image: url("../image/minus.png");

}

 

    .parentnode_title_symbol:hover

    {

        cursor: pointer;

    }

 

    .parentnode_title_symbol b

    {

        display: none;

    }

 

.parentnode_title_check

{

    background-image: url("../../Image/iconUncheckAll.gif");

}

 

    .parentnode_title_check:hover

    {

        cursor: pointer;

    }

 

    .parentnode_title_check b

    {

        display: none;

    }

 

.parentnode_title_picture

{

    width: 24px;

    height: 24px;

    background-image: url("../../Image/folderClosed.gif");

}

 

.parentnode_title_nochildnode_symbol

{

    width: 18px;

}

 

.parentnode_title_nochildnode_picture

{

    width: 24px;

    height: 24px;

    background-image: url("../../Image/leaf.gif");

}

 

.parentnode_tow

{

    padding-left: 20px;

}

 

.parentnode_three

{

    padding-left: 20px;

}
